<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= animal.breed %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= animal.gender %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= animal.birth %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= animal.size %>
  </p>

  <p>
    <strong>Neutered:</strong>
    <%= animal.neutered %>
  </p>

  <p>
    <strong>Vaccinated:</strong>
    <%= animal.vaccinated %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= animal.description %>
  </p>

</div>
